/*---------------------------*/
/* Rate Table */
/*---------------------------*/

.wrapper {
  display:table;
  text-align:center;
  width:100%;
  table-layout:fixed;
}

.header,
.row {
  display:table-row;

  .cell {
    &:nth-child(1) {
      width: 290px;
    }

    &:nth-child(2) {
      width: 285px;
    }

    &:nth-child(3) {
      padding-left:45px;
    }
  }
}

.row {
  .cell {
    padding: 8px 15px;
  }

  &:last-child {
    .cell {
      border-bottom:none;
    }
  }
}

.cell {
  display:table-cell;
  vertical-align:middle;
  font-size:16px;
  border-bottom:1px solid #e2e2e2;
  color:#333333;

  &:nth-child(1) {
    text-align:left;
    padding-left:17px;
  }

  &:nth-child(2) {
    background-color:#FCFCFC;
  }
}

/*---------------------------*/
/* Header */

.header {
  .cell {
    font-weight:600;
    text-transform:uppercase;
    padding:12px 15px;
    height:58px;
    background-color:rgba(#FDFDFD, .97);
    backdrop-filter:blur(1px);
    border-top:1px solid #d8d8d8;
    border-bottom:1px solid #d8d8d8;
    color:#383838;
    font-size:14px;
    cursor:pointer;
    position:sticky;
    top:-1px;
    z-index: 500;

    &:hover {
      background-color:rgba(#f4f4f4, .97);
    }

    &:nth-child(1) {
      padding-left:25px;
    }

    &:nth-child(2) {
      background-color:rgba(#f9f9f9, .97);

      &:hover {
        background-color:rgba(#f3f3f3, .97);
      }
    }
  }
}

:global(.controlsClosed) {
  .header {
    .cell {
      top: -1px !important;
    }
  }
}


/*---------------------------*/
/* Rates */

.rate {
  display:flex;
  justify-content:center;
  align-items:center;
  white-space: nowrap;
}

.divider {
  width:2px;
  height:1em;
  background-color: currentColor;
  opacity: .2;
  transform:skewX(-10deg);
  flex-grow:0;
  flex-shrink:0;
  margin: 0 .85em 0 .92em;
  font-size:inherit;
}

.badge {
  margin-left:10px;
  flex-grow:0;
  flex-shrink:0;
}

.item {
  display:inline-flex;
  align-items:center;
  justify-content:center;
  text-align:center;

  &.highlight {
    font-weight:600;
  }
}