/*---------------------------*/
/* Slider Input */
/*---------------------------*/

@import '@styles/colors';

.wrapper {
  width:370px;
  max-width:100%;
  margin-bottom:60px;

  &:last-child {
    margin-bottom:0;
  }
}

.top {
  margin-top:-7px;
  margin-bottom:17px;
  display:flex;
  justify-content:space-between;
  align-items:center;
}

.label {
  line-height:1;
  font-size:14px;
  font-weight:600;
  color:#252525;
  display:block;
  margin-right:8px;
}

.inputs {
  display:flex;
  align-items:center;
  margin-right:-5px;

  > * {
    margin-right:15px;

    &:last-child {
      margin-right:0;
    }
  }

  label {
    color:#5a5a5a !important;
  }
}

$inactiveShadow:
  0px 2px 5px rgba(0, 0, 0, 0.05),
  0px 1px 2px rgba(0, 0, 0, 0.1),
  0px 1px 4px rgba(0, 0, 0, 0.1);

$activeShadow:
  0px 2px 5px rgba(0, 0, 0, 0.05),
  0px 1px 2px rgba(0, 0, 0, 0.1),
  0px 1px 4px rgba(0, 0, 0, 0.1),
  0 0 0 6px rgba(17, 65, 66, .1);

:global {
  .sliderTrack {
    background-color:#b9b9b9;
    height:4px;
  }

  .sliderTrack-0,
  .sliderTrack-1 {
    left:2px !important;
    border-radius: 5px 0 0 5px;
  }

  .sliderTrack-1,
  .sliderTrack-2 {
    right:2px !important;
    border-radius: 0 5px 5px 0;
  }

  .sliderTrack-1 {
    background-color: $teal;
  }

  .sliderThumb {
    width:14px;
    height:14px;
    background-color:#fff;
    box-shadow: $inactiveShadow;
    border-radius:50%;
    top:-5px;
    outline:none;
    text-align:center;
    cursor:pointer;

    &.active {
      box-shadow: $activeShadow !important;
    }

    &:hover {
      box-shadow: $activeShadow;
    }
  }
}

.dragging {
  :global(.sliderThumb) {
    &:hover {
      box-shadow:$inactiveShadow;
    }
  }
}

.text {
  position:relative;
  top:25px;
  font-size:12px;
  color:#252525;
  font-weight:600;
  pointer-events:none;
}
