/*---------------------------*/
/* Button */
/*---------------------------*/

@import '@styles/colors';

.button {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  background-color: $teal;
  line-height: 1;
  text-decoration: none !important;
  appearance: none;
  border: none;
  cursor: pointer;
  color: #fff;
  text-transform: uppercase;
  font-weight: 800;
  font-size: 15px;
  position: relative;
  letter-spacing: -0.01em !important;
  border-radius: 0;

  &.disabled {
    pointer-events: none;
    filter: grayscale(100%);
    opacity: 0.8;
  }

  * {
    letter-spacing: -0.01em !important;
  }

  &.arrow {
    &:before {
      content: '';
      z-index: 2;
      background-image: url("data:image/svg+xml,%3Csvg viewBox='0 0 15 14' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M.402 5.542h12.232v1.944H.402V5.542z' fill='%23fff'/%3E%3Cpath d='M9.241 13.03l-1.105-1.363 4.183-5.152-4.183-5.153L9.24 0l5.287 6.515-5.287 6.514z' fill='%23fff'/%3E%3C/svg%3E");
      position: absolute;
      background-size: 17px 16px;
      background-position: center center;
      background-repeat: no-repeat;
      pointer-events: none;
      top: 0;
      right: 0;
      bottom: 0;
      width: 50px;
      opacity: 0.9;
      transition: opacity 0.3s;
      z-index: 5;
    }

    .content {
      padding: 15px 75px 15px 25px;
    }
  }

  &:not(.arrow) {
    .content {
      &:before {
        transition: transform 0.4s cubic-bezier(0.63, 0.03, 0.16, 1)
            0s,
          background-color 0.3s !important;
      }

      &:after {
        display: none;
      }
    }
  }

  &:hover,
  &:active,
  &:focus {
    &:before {
      opacity: 1;
    }
  }

  &:focus {
    outline: none;
  }

  svg,
  path {
    fill: currentColor;
  }

  svg {
    margin-right: 0.75em;
  }
}

.content {
  position: relative;
  z-index: 3;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 10px 25px;
  min-height: 3em;
  overflow: hidden;

  &:focus {
    outline: none;
  }
}

.primary {
  &:hover,
  &:active,
  &:focus {
    .content {
      &:before {
        transition: transform 0.45s cubic-bezier(0.18, 0.76, 0.43, 1)
            0.2s,
          background-color 0.1s;
        transform: scaleX(1);
      }

      &:after {
        transition: transform 0.2s cubic-bezier(0.34, 0, 0.85, 0.1) 0s,
          background-color 0.1s;
        transform: scaleX(0);
      }
    }
  }

  &:focus {
    .content {
      box-shadow: 0 0 0 2px rgba(25, 58, 60, 0.7),
        0 0 0 6px rgba(162, 237, 241, 0.3);
    }
  }

  &:hover:active {
    .content {
      &:before,
      &:after {
        background-color: $activeTeal;
      }
    }
  }

  .content {
    &:before,
    &:after {
      content: '';
      position: absolute;
      top: 0;
      bottom: 0;
      background-color: $darkTeal;
      z-index: -1;
      pointer-events: none;
      will-change: transform;
    }

    &:before {
      transform: scaleX(0);
      transform-origin: left center;
      transition: transform 0.4s cubic-bezier(0.34, 0, 0.85, 0.1) 0s,
        background-color 0.3s;
      left: 0;
      right: -2px;
    }

    &:after {
      transform-origin: right center;
      transition: transform 0.4s cubic-bezier(0.09, 0.83, 0.26, 1)
          0.4s,
        background-color 0.3s;
      transform: scaleX(1);
      right: 0;
      width: 50px;
    }
  }
}

.outline {
  color: $darkTeal;
  box-shadow: inset 0 0 0 1.5px $teal;
  transition: all 0.2s;
  transition-property: background-color, color;
  background-color: transparent;

  &:hover,
  &:focus {
    background-color: $teal;
    color: #fff;
  }

  &:focus {
    box-shadow: 0 0 0 2px #408386, 0 0 0 5px #d6f7f9;
    transition: none;
  }
}

.minimal {
  background-color: transparent;
  color: #3d3d3d;
  transition: background-color 0.2s;
  border-radius: 4px;

  &:hover {
    background-color: #f9f9f9;
  }

  &:focus {
    &:before {
      content: '';
      position: absolute;
      top: 0;
      bottom: 0;
      left: 0;
      right: 0;
      box-shadow: 0 0 0 2px #d4d4d4;
    }
  }

  .content {
    padding-left: 15px;
    padding-right: 15px;
  }
}

.close {
  border-radius: 50%;
  color: #5f5f5f;

  &:hover {
    background-color: rgba(#a0a0a0, 0.1);
  }

  &:before {
    border-radius: 50%;
  }

  .content {
    width: 46px;
    height: 46px;
    min-width: 0;
    min-height: 0;
    padding: 0 !important;
    border-radius: 50%;

    &:before,
    &:after {
      content: '';
      display: block !important;
      position: absolute;
      // background-color: #5f5f5f;
      background-color: currentColor;
      transition: none !important;
      border-radius: 5px;
      top: 50%;
      left: 50%;
      width: 18px;
      height: 2px;
    }

    &:before {
      transform: translate(-50%, -50%) rotate(45deg);
    }

    &:after {
      transform: translate(-50%, -50%) rotate(-45deg);
    }
  }
}

.icon {
  width: 1em;
  height: 1em;
  flex-grow: 0;
  flex-shrink: 0;
}
