{
  "env": {
    "es6": true,
    "browser": true,
    "node": true
  },
  "parserOptions": {
    "ecmaVersion": 2018,
    "sourceType": "module",
    "ecamaFeatures": {
      "jsx": "react"
    }
  },
  "extends": ["react-app"],
  "globals": {
    "Atomics": "readonly",
    "SharedArrayBuffer": "readonly"
  },
  "plugins": ["react", "babel"],
  "rules": {
    "no-unused-expressions": 0,
    "babel/no-unused-expressions": 0
  }
}
