{
  "env": {
    "es6": true,
    "browser": true,
    "node": true
  },
  "parserOptions": {
    "ecmaVersion": 2018,
    "sourceType": "module"
  },
  "extends": [
    "eslint:recommended",
    "react-app"
  ],
  "globals": {
    "Atomics": "readonly",
    "SharedArrayBuffer": "readonly"
  },
  "plugins": [
    "babel"
  ],
  "rules": {
    "no-unused-expressions": "off",
    "babel/no-unused-expressions": "babel/no-unused-expressions"
  }
}