/*---------------------------*/
/* Text Fields */
/*---------------------------*/

.input {
  border:none;
  background-color:#fff;
  border-radius:0;
  padding:10px 15px 12px 15px;
  height:44px;
  font-size:14px;
  outline:none;
  color:#383838;
  line-height:1;
  font-weight:500;
}