/*---------------------------*/
/* Hero */
/*---------------------------*/

.wrapper {
  background-color:#444444;
  padding: 80px 60px 110px 60px;
  color:#fff;
  position:relative;
  overflow:hidden;

  h1 {
    font-size:45px;
  }
}

.content {
  max-width:1150px;
  margin:0 auto;
  position: relative;
  z-index: 2;
}

.angleWrapper {
  position: absolute;
  top:0;
  bottom:0;
  left:0;
  right:0;
  pointer-events: none;
  z-index: 1;
  display:flex;
  justify-content:center;
  overflow:hidden;

  div {
    $skewX: 36deg;
    width:610px;
    height:150%;
    position:relative;
    flex-grow:0;
    flex-shrink:0;

    &:nth-child(even) {
      transform:skewX(-#{$skewX});
      background-color:rgba(#fff, .018);
    }

    &:nth-child(odd) {
      transform:skewX($skewX);
      background-color:rgba(#fff, .015);
      left:-100px;
      margin-right:-40px;
    }
  }
}


/*---------------------------*/
/* Top */

.top,
.cta,
.phone {
  display:flex;
  justify-content:space-between;
  align-items:center;
}

.top {
  margin-bottom:20px;
}

.cta {
  margin-left:35px;
}

.phone {
  margin-right:25px;
  font-weight:400;
  font-size:20px;
  line-height:1;

  svg {
    margin-right:8px;
    position:relative;
    top:1px;
  }
}


/*---------------------------*/
/* Controls */

.controlsWrapper {
  display:flex;
  justify-content:space-between;
  align-items:center;
  margin-bottom:30px;
}