/*---------------------------*/
/* Colors */
/*---------------------------*/

$pageBackground: #fbfbfb;
$teal: #219d9f;
$darkTeal: #357f83;
$activeTeal: #30686b;
$gold: #e6b246;

:export {
  pageBackground: $pageBackground;
  teal: $teal;
  darkTeal: $darkTeal;
  activeTeal: $activeTeal;
  gold: $gold;
}
