/*---------------------------*/
/* Colors */
/*---------------------------*/

$pageBackground: #FBFBFB;
$teal: #219d9f;
$darkTeal: #357F83;
$activeTeal: #30686b;
$gold: #E6B246;

:export {
  pageBackground: $pageBackground;
  teal: $teal;
  darkTeal: $darkTeal;
  activeTeal: $activeTeal;
  gold: $gold
}