/*---------------------------*/
/* Mixins */
/*---------------------------*/

@mixin placeholder {
  &::-webkit-input-placeholder {@content}
  &:-moz-placeholder           {@content}
  &::-moz-placeholder          {@content}
  &:-ms-input-placeholder      {@content}  
}

@mixin placeholderStyles($color: #9c9c9c) {
  @include placeholder {
    color:$color;
    @content;
  }
}

@mixin noSelect {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

@mixin targetIE {
  @media all and (-ms-high-contrast: none), (-ms-high-contrast: active) {
    @content;
  }
}

@mixin inputStyles {
  box-shadow: 0px 1px 4px rgba(#000, 0.1);
  background-color:rgba(#fff, .15);
  display:flex;
  border-radius:2px;

  &:hover {
    background-color:rgba(#fff, .18);
  }

  &.focus,
  &:focus {
    background-color:rgba(#fff, .3) !important;

    .input {
      @include placeholderStyles(#dddddd);
      @include targetIE {
        background-color:#937878;
      }
    }
    
    .icon {
      color:#fff;
    }
  }

  &.hasError {
    background-color: rgba(#fbb2b2, 0.3);

    .icon {
      color:#fff0f0;
    }

    .input {
      @include placeholderStyles(rgba(253, 244, 244, .9));
      color:#fff0f0;
    }

    &:hover {
      background-color: rgba(#fbb2b2, 0.35);
    }

    &.focus {
      background-color: rgba(#fbb2b2, 0.45) !important;
    }
  }
}