/*---------------------------*/
/* Loading Bar */
/*---------------------------*/

@import '@styles/colors';

.wrapper {
  position:absolute;
  top:0;
  left:0;
  right:0;
  height:7px;
  top:-6px;
  background-color:#e9e1d2;
  pointer-events:none;
  border-top-left-radius: 4px;
  border-top-right-radius:4px;
  overflow:hidden;

  &:before {
    content:"";
    position:absolute;
    top:0;
    left:0;
    bottom:0;
    transform-origin:top left;
    right:0;
    background-color:rgba($gold, .7);
    animation: load 1.5s cubic-bezier(.67,.19,.48,1);
    animation-iteration-count: infinite;
  }
}

@keyframes load {
  0% {
    transform:translateX(-100%);
  }

  100% {
    transform:translateX(200%);
  }
}