/*---------------------------*/
/* Content */
/*---------------------------*/

@import '@styles/colors';

.wrapper {
  position:relative;
  z-index: 700;
  padding:0 50px 100px 50px;
  transition: transform .4s cubic-bezier(.55,.15,.24,.98);
  will-change: transform;

  &.noAnimation {
    transition:none !important;
  }
}

.angle {
  position: absolute;
  z-index: -2;
  top:-40px;
  left:0;
  right:0;
  height:80px;
  background-color:$pageBackground;
  transform:skewY(-1deg);
  pointer-events: none;
}

.content {
  max-width:1050px;
  margin: 0 auto -140px auto;
  background-color:#fff;
  position:relative;
  top:-140px;
  border-radius:4px;
  box-shadow: 0px 4px 18px rgba(0, 0, 0, 0.03), 0px 1px 4px rgba(0, 0, 0, 0.04);
}