/*---------------------------*/
/* Inputs */
/*---------------------------*/

.inputWrapper {
  position:relative;
  pointer-events:none;

  &.open {
    pointer-events: auto;
  }
}

.inputs {
  position:absolute;
  left:0;
  right:0;
  top:0;

  label {
    line-height:1;
    font-size:13px;
  }
}

@mixin addDelay($baseDelay: 0, $delay: 60) {
  @for $i from 1 through 7 {

    &:nth-child(#{$i}) {
      transition-delay: #{($i - 1) * $delay + $baseDelay}ms;
    }
  }
}

.inner {
  overflow:hidden;
  padding:25px 25px 28px 25px;
}

.row {
  display:flex;
  margin-bottom:20px;
  pointer-events:none;

  &:last-child {
    margin-bottom:0;
  }

  > * {
    width:100%;
    flex-grow:1;
    margin-right:15px;
    transform:translateY(50px);
    opacity:0;
    transition: all .4s cubic-bezier(.29, .02, .31, 1);
    transition-property: opacity, transform !important;
    will-change: transition, opacity;

    &:last-child {
      margin-right:0;
    }
  }
}

.outline {
  position:absolute;
  top:0;
  right:0;
  bottom:0;
  left:0;
  border:2px dashed rgba(#fff, .5);
  border-top:none;
  z-index: -1;
  transition: opacity .3s;
  opacity:0;

  .top {
    position:absolute;
    top:0;
    left:0;
    right:0;
    display:flex;

    span {
      display:block;
      padding:0 12px;
      text-transform:uppercase;
      font-weight:600;
      font-size:12px;
      margin-top:-6px;
    }

    &:before,
    &:after {
      content:"";
      display:block;
      border-top:2px dashed rgba(#fff, .5);
      height:2px;
    }

    &:before {
      width:40px;
    }

    &:after {
      flex-grow:1;
    }
  }
}

.hasError {
  .outline {
    border-color:rgba(247, 182, 182, 0.85);

    .top {
      &:before,
      &:after {
        border-color: rgba(247, 182, 182, 0.85);
      }
    }
  }
}

.open {
  .row {
    pointer-events:auto;

    > * {
      opacity: 1;
      transform:translateY(0);
      transition: all .4s cubic-bezier(.09, .51, .39, 1);
    }

    &:nth-child(1) > * {
      @include addDelay;
    }

    &:nth-child(2) > * {
      @include addDelay(80);
    }
  }

  .outline {
    transition: opacity .6s;
    opacity: 1;
  }
}