/*---------------------------*/
/* Filters */
/*---------------------------*/

.wrapper {
  background-color:rgba(#fafafa, .5);
  position:relative;
  border-top:1px solid #e6e6e6;
  padding:25px 35px 45px 35px;
}

.shadow {
  position:absolute;
  top:0;
  left:0;
  right:0;
  height:5px;
  overflow:hidden;
  pointer-events:none;

  &:before,
  &:after {
    content:"";
    position:absolute;
    pointer-events:none;
    z-index: 300;
    left:-5px;
    right:-5px;
    height:1px;
  }

  &:before {
    top:-1px;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
  }

  &:after {
    bottom:-1px;
    box-shadow: 0 -1px 3px rgba(0, 0, 0, 0.05);
  }
}

.top {
  display:flex;
  justify-content:space-between;
  align-items:flex-start;
  border-bottom: 1px solid #d6d6d6;
  padding-bottom:6px;
  margin-bottom:30px;
}

.title {
  font-weight:600;
  font-size:17px;
  color:#343434;
  text-transform:uppercase;
  line-height:1;
  position:relative;
  top:3px;
}

.content {
  display:flex;
  align-items:flex-start;
}

.buttons {
  margin:-15px -12px 0 10px;
  display:flex;
  align-items:center;
}

.closeWrapper {
  top:2px;
  margin-left:2px;
}

.close {
  width:38px !important;
  height:38px !important;

  &:before,
  &:after {
    width:14px !important;
  }
}

.reset {
  svg {
    width:14px;
    height:14px;
    margin-right:5px !important;
  }

  &:hover {
    background-color:#f1f1f1 !important;
  }
}

.column {
  margin-right:30px;

  &:last-child {
    margin-right:0;
  }
}

.switch {
  margin-bottom:20px;
  margin-top:-5px;
}