/*---------------------------*/
/* Filters */
/*---------------------------*/

.wrapper {
  background-color:rgba(#fafafa, .5);
  position:relative;
  border-top:1px solid #e6e6e6;
  padding:35px;
  display:flex;
}

.shadow {
  position:absolute;
  top:0;
  left:0;
  right:0;
  height:5px;
  overflow:hidden;
  pointer-events:none;

  &:before,
  &:after {
    content:"";
    position:absolute;
    pointer-events:none;
    z-index: 300;
    left:-5px;
    right:-5px;
    height:1px;
  }

  &:before {
    top:-1px;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
  }

  &:after {
    bottom:-1px;
    box-shadow: 0 -1px 3px rgba(0, 0, 0, 0.05);
  }
}

.buttons {
  position:absolute !important;
  top:10px;
  right:10px;
  display:flex;
  align-items:center;
}

.close {
  margin-left:4px;
  top:1px;
}

.reset {
  svg {
    width:16px;
    height:16px;
    margin-right:5px !important;
  }

  &:hover {
    background-color:#f1f1f1 !important;
  }
}

.column {
  margin-right:30px;

  &:last-child {
    margin-right:0;
  }
}

.switch {
  margin-bottom:20px;
  margin-top:-5px;
}