/*---------------------------*/
/* Header */
/*---------------------------*/

.wrapper {
  background-color:#4B4B4B;
  padding: 80px 60px;
  color:#fff;

  h1 {
    font-size:45px;
  }
}

.content {
  max-width:1200px;
  margin:0 auto;
}


/*---------------------------*/
/* Top */

.top,
.cta,
.phone {
  display:flex;
  justify-content:space-between;
  align-items:center;
}

.top {
  margin-bottom:30px;
}

.cta {
  margin-left:35px;
}

.phone {
  margin-right:25px;
  font-weight:400;
  font-size:20px;
  line-height:1;

  svg {
    margin-right:8px;
    position:relative;
    top:1px;
  }
}


/*---------------------------*/
/* Controls */

.controlsWrapper {
  display:flex;
  justify-content:space-between;
  margin-bottom:30px;
}