/*---------------------------*/
/* Labels */
/*---------------------------*/

.label {
  color:currentColor;
  font-size:13px;
  margin-bottom:8px;
  font-weight:600;
  display:block;
  cursor:text;
}