/*---------------------------*/
/* Mobile Inputs */
/*---------------------------*/

@import '@styles/mixins';

.wrapper {
  @include textStyles;
  position:fixed;
  top:0;
  bottom:0;
  left:0;
  right:0;
  z-index: 99991;
  pointer-events: none;

  &.open {
    pointer-events: auto;
  }

  :global {
    .fieldWrapper {
      max-Width:none !important;
      margin-bottom:35px;

      &:last-child {
        margin-bottom:0;
      }
    }

    .label {
      color:#000;
    }
  }
}

.bg {
  position:fixed;
  top:0;
  right:0;
  bottom:0;
  left:0;
  z-index: 99992;
  background-color:rgba(0, 0, 0, .4);
  opacity:0;
}

.contentWrapper {
  border-top-left-radius:10px;
  border-top-right-radius:10px;
  background-color:#fff;
  position:absolute;
  top:80px;
  right:0;
  left:0;
  bottom:0;
  z-index: 99999;
}

.handle {
  position:absolute;
  top:-30px;
  right:0;
  left:0;
  height:30px;
  background-color:#fff;
  border-top-left-radius:10px;
  border-top-right-radius:10px;
  display:flex;
  justify-content:center;
  align-items:center;
  padding:0 20px;

  &:before {
    content:"";
    height:4px;
    width:100%;
    max-width:120px;
    background-color:#dedede;
    position:relative;
    top:5px;
    border-radius:20px;
  }
}

.content {
  overflow-y:auto;
  -webkit-overflow-scrolling: touch;
  overscroll-behavior-y: contain;
  position:absolute;
  top:0;
  right:0;
  left:0;
  bottom:-200px;
  padding:35px 35px 285px 35px;
  background-color:#fff;
}