/*---------------------------*/
/* Mobile Inputs */
/*---------------------------*/

@import '@styles/mixins';

.wrapper {
  @include textStyles;
  position:fixed;
  top:0;
  bottom:0;
  left:0;
  right:0;
  z-index: 99991;
  // background-color:#fff;
  // padding:35px;
  // transform:translateY(100%);
  // transition: transform .4s cubic-bezier(.11,.93,.39,1);
  pointer-events: none;
  // overflow-y:auto;
  // -webkit-overflow-scrolling: touch;
  // border-top-left-radius:10px;
  // border-top-right-radius:10px;

  &:before {
    content:"";
    position:absolute;
    top:0;
    right:0;
    bottom:0;
    left:0;
    pointer-events:none;
    z-index: 99992;
    background-color:rgba(0, 0, 0, .4);
    opacity:0;
    transition: opacity .3s;
  }

  &.open {
    // transform:translateY(0);
    pointer-events: auto;

    &:before {
      opacity: 1;
    }

    .content {
      transform:translateY(0);
    }
  }

  :global {
    .fieldWrapper {
      max-Width:none !important;
      margin-bottom:35px;

      &:last-child {
        margin-bottom:0;
      }
    }

    .label {
      color:#000;
    }
  }
}

.content {
  overflow-y:auto;
  -webkit-overflow-scrolling: touch;
  overscroll-behavior-y: contain;
  border-top-left-radius:10px;
  border-top-right-radius:10px;
  background-color:#fff;
  position:fixed;
  top:50px;
  right:0;
  left:0;
  bottom:0;
  padding:35px 35px 85px 35px;
  z-index: 99999;
  transform:translateY(100%);
  transition: transform .4s cubic-bezier(.11,.93,.39,1);
}