/*---------------------------*/
/* Assumptions */
/*---------------------------*/

@import '@styles/colors';

.wrapper {
  width:100%;
}

.button {
  background-color:#fff;
  width:100%;
  color:#383838;
  appearance: none;
  border: none;
  border-radius:0;
  cursor:pointer;
  font-size:14px;
  text-align:left;
  line-height:1;
  position:relative;

  &:hover {
    background-color:#f1f1f1;
  }

  &:focus {
    outline:none;

    .content {
      box-shadow: 0 0 0 2px rgba(25, 58, 60, 0.7), 0 0 0 6px rgba(162, 237, 241, 0.3);
    }
  }
}

.content {
  display:flex;
  align-items:center;
  min-height:46px;
  padding: 12px 0 13px 17px;
  position:relative;
  z-index: 100;

  &:focus {
    outline:none;
  }
}

.home {
  margin-right:8px;
  position:relative;
  width:19px;
  height:18px;
  flex-grow:0;
  display:flex;
  justify-content:center;
  align-items:center;

  svg {
    position:relative;
    z-index: 300;
    top:-1px;
  }
}

.text {
  flex-grow:1;
  padding-right:15px;
  line-height:1.2;
  padding-bottom:1px;
}

.arrowWrapper {
  position:static;
  pointer-events:none;
  width:45px;
  align-self:stretch;
  border-left:1px solid #D6D6D6;
  flex-shrink:0;
  flex-grow:0;
}

.arrow {
  position:absolute;
  top:0;
  right:0;
  bottom:0;
  width:45px;
  display:flex;
  align-items:center;
  justify-content: center;
  transition: transform .4s cubic-bezier(.34, .81, .49, 1), opacity .35s;

  svg {
    margin-left:-2px;
  }
}

.down {
  transform:translateY(0);
  opacity: 1;
  transition-delay: .1s;
}

.up {
  transform:translateY(-10px);
  opacity: 0;

  svg {
    transform: rotate(180deg);
  }
}

.wrapper.open {
  .up {
    transform:translateY(0);
    opacity: 1;
    transition-delay: .1s;
  }

  .down {
    transform:translateY(10px);
    opacity: 0;
    transition-delay: 0s;
  }
}


/*---------------------------*/
/* Pulsing Circle Animation */

.pulseWrapper {
  position: absolute;
  top:0;
  right:0;
  bottom:0;
  width:46px;
  z-index: 1;
  pointer-events: none;
  transition: opacity .5s;
}

.wrapper:hover {
  .pulseWrapper {
    opacity: 0;
  }
}

.pulse {
  $size: 80;
  width: #{$size}px;
  height: #{$size}px;
  margin-left: -#{$size / 2}px;
  margin-top: -#{$size / 2}px;
  position:absolute;
  left:50%;
  top:50%;
  display: block;
  border-radius: 50%;
  background-color: #5ec6cc;
  animation: pulse 1.6s cubic-bezier(.41, .28, .53, 1) infinite;
  animation-fill-mode: forwards;
  animation-iteration-count: 4;
  animation-delay: 1s;
  opacity:0;
}

@keyframes pulse {
  0% {
    transform: scale(.2);
    opacity:0;
  }

  25% {
    opacity: .35;
  }

  70%, 100% {
    opacity: 0;
  }
}


/*---------------------------*/
/* Connecting Line */

.line {
  position:absolute;
  width:2px;
  margin-top:-5px;
  height:35px;
  border-right:2px dashed rgba(#fff, .5);
  top:100%;
  left:26px;
  pointer-events:none;
  transform:translateY(-100%);
  opacity: 0;
  transition: all .3s cubic-bezier(.06,.81,.41,.96);
  transition-property: opacity, transform;
}

.open {
  .line {
    transition-delay: .3s;
    opacity: 1;
    transform:translateY(0);
  }
}