/*---------------------------*/
/* Text Fields */
/*---------------------------*/

@import '@styles/colors';
@import '@styles/mixins';
@import '@styles/fonts';

.wrapper {
  display:flex;
  border-radius:2px;
  overflow:hidden;
  box-shadow: 0px 1px 4px rgba(#000, 0.1);
  background-color:rgba(#fff, .15);
  position:relative;

  &:hover {
    background-color:rgba(#fff, .18);
  }
}

.icon {
  position:absolute;
  top:0;
  bottom:1px;
  left:15px;
  z-index: 100;
  color:#cacaca;
  display:flex;
  align-items:center;
  justify-content:center;
  line-height:1;
  font-size:15px;
  cursor:default;
  pointer-events:none;

  svg,
  path {
    fill: currentColor;
  }
}

.hasIcon {
  .input {
    padding-left:40px;
  }
}

.input {
  border:none;
  background-color:transparent;
  appearance:none;
  border-radius:0;
  padding:10px 15px 12px 15px;
  height:42px;
  font-size:15px;
  outline:none;
  color:#fff;
  line-height:1;
  font-weight:600;
  width:100%;
  font-family:$sansSerif;

  @include targetIE {
    padding-bottom:0;
    padding-top:0;
  }

  @include placeholderStyles(#c5c4c4) {
    font-weight:400;
  }

  &::-ms-clear {
    display: none;
  }
}

.focus {
  background-color:rgba(#fff, .3) !important;

  .input {
    @include placeholderStyles(#dddddd);
  }
  
  .icon {
    color:#fff;
  }
}

.hasError {
  background-color: rgba(#fbb2b2, 0.3);

  .icon {
    color:#fff0f0;
  }

  .input {
    @include placeholderStyles(rgba(253, 244, 244, .9));
    color:#fff0f0;
  }

  &:hover {
    background-color: rgba(#fbb2b2, 0.35);
  }

  &.focus {
    background-color: rgba(#fbb2b2, 0.45) !important;
  }
}