/*---------------------------*/
/* Text Fields */
/*---------------------------*/

@import '@styles/colors';
@import '@styles/mixins';
@import '@styles/fonts';

.wrapper {
  @include inputStyles;
  overflow:hidden;
}

.icon {
  position:absolute;
  top:0;
  bottom:0;
  z-index: 100;
  display:flex;
  align-items:center;
  justify-content:center;
  line-height:1;
  cursor:default;
  pointer-events:none;

  svg,
  path {
    fill: currentColor;
  }
}

.leftIcon {
  .input {
    padding-left:40px;
  }

  .icon {
    left:15px;
  }
}

.rightIcon {
  .input {
    padding-right:40px;
  }

  .icon {
    right:15px;
  }
}

.input {
  border:none;
  background-color:transparent;
  appearance:none;
  border-radius:0;
  padding:0 13px 0 15px;
  height:40px;
  font-size:14px;
  outline:none;
  color:#fff;
  line-height:1;
  font-weight:400;
  width:100%;
  font-family:$sansSerif;

  @include targetIE {
    padding-bottom:0;
    padding-top:0;

    &:focus {
      background-color:#7F7F7F;
    }
  }

  @include placeholderStyles(#c5c4c4) {
    font-weight:400;
  }

  &::-ms-clear {
    display: none;
  }
}


/*---------------------------*/
/* Dark Theme */

.dark {
  @include inputStyles($theme: dark);
}


/*---------------------------*/
/* Small Inputs */

.small {
  height:28px;
  font-size:12px;

  .input {
    height:28px;
    padding:0 10px;
  }

  &.leftIcon {
    .input {
      padding-left:20px;
    }

    .icon {
      left:8px;
    }
  }

  &.rightIcon {
    .input {
      padding-right:20px;
    }

    .icon {
      right:8px;
    }
  }
}