/*---------------------------*/
/* Text Fields */
/*---------------------------*/

@import '@styles/colors';
@import '@styles/mixins';

.wrapper {
  display:flex;
  border-radius:2px;
  overflow:hidden;
  box-shadow: 0px 2px 10px rgba(#000, 0.1);
  background-color:#fff;
  position:relative;

  &.focus {
    box-shadow:
      0 0 0 3px rgba(164, 235, 238, 0.4),
      0px 2px 10px rgba(#000, 0.1);
  }
}

.icon {
  position:absolute;
  top:0;
  bottom:0;
  left:15px;
  z-index: 100;
  color:#949494;
  display:flex;
  align-items:center;
  justify-content:center;
  line-height:1;
  font-size:14px;
  cursor:default;
  pointer-events:none;

  svg,
  path {
    fill: currentColor;
  }
}

.hasIcon {
  .input {
    padding-left:35px;
  }
}

.input {
  @include placeholderStyles;
  border:none;
  background-color:transparent;
  appearance:none;
  border-radius:0;
  padding:10px 15px 12px 15px;
  height:38px;
  font-size:14px;
  outline:none;
  color:#383838;
  line-height:1;
  font-weight:500;
  width:100%;
}